@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');

:root {
    --my_white: hsl(0, 0%, 100%);
    --my_light_gray: hsl(212, 45%, 89%);
    --my_grayish_blue: hsl(220, 15%, 55%);
    --my_dark_blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    background-color: var(--my_light_gray);
}
.container {
    max-width: 350px;
    border-radius: 20px;
    background-color: var(--my_white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    padding: 1rem;
    max-width: 280px;
    border-radius: 30px;
}
h1 {
    width: 300px;
    font-size: x-large;
    color: var(--my_dark_blue);
}
p {
    margin: 1rem;
    font: xx-large;
    font-weight: 400;
    max-width: 280px;
    color: var(--my_grayish_blue);
}

@media (min-width:1024px) {
    .container{
        max-width: 1024px;
    }
    img {
        max-width: 320px;
    }
}
